{% extends 'base.html' %}

{% block head_title %}
	Tweetme2 - Home
{% endblock head_title %}

{% block content %}
	<div class="container">
		<h1>Welcome to Tweetme2</h1>
		<br>
		<div id="tweets">
			Loading...
		</div>
	</div>

	<script>
      const tweetsElement = document.getElementById("tweets");
      const xhr = new XMLHttpRequest();
      const method = 'GET';
      const url = "/tweets";
      const responseType = "json";

      function formatTweetElement(tweet) {
          return `<div class='mb-4 tweet' id='"tweet${tweet.id}"'><h1>${tweet.id}</h1><p>${tweet.content}</p></div>`
      }

      xhr.responseType = responseType;
      xhr.open(method, url);

      xhr.onload = function() {
          const serverResponse = xhr.response;
          const listedItems = serverResponse.response;
          let i;
          tweetsElement.innerHTML = '';
          for (i=0;i<listedItems.length;i++) {
              let tweet = listedItems[i];
              console.log(`Tweet ${tweet.id} - ${tweet.content}`);
              tweetsElement.innerHTML += formatTweetElement(tweet);
          }
      }

      xhr.send();


	</script>
{% endblock content %}